.center {
    text-align: center;
}
.border {
    width: 30%;
    border: 1px solid rgba(163, 51, 200, 0.41);
    border-radius: 5px;
}
.product-image {
    height: 100px;
    width: 100px;
    margin: 0 auto;
}
.bold {
    font-weight: bold;
}
