 <div>
  <div>
      <br>
    <app-product-image [product]="product"></app-product-image>
      <br>
    <span id="price"> ${{ product.price }} </span>
  </div>
  
  <div>
    <div class="header" 
      [ngStyle]="{color:'white', 'background-color':'blue'}" 
      [style.border]="'3px solid pink'" 
      [style.font-size.px]="fsize">
          {{ product.name }}
    </div>
  <br>
    <div class="product-sku">SKU #{{ product.sku }}</div>
  <br>
    <div class="description">
      <app-product-department [product]="product"></app-product-department>
    </div>
  </div>

  <div *ngIf="inStore">
  <br><br>
    <ion-fab right edge>
      <button ion-fab mini (click)="add2cart(this.product)">
        <ion-icon name="cart"></ion-icon>
      </button>
    </ion-fab>
  </div>
</div>
<br>

