<ion-card class="center border">
  <ion-card-header>
    <h1> {{ product.name }} </h1>
  </ion-card-header>
  <img class="product-image" [src]="product.imageUrl" alt="Image"/>
  <ion-card-content>
    <ion-card-title class="bold">
      ${{ product.price }}
    </ion-card-title>

    SKU #{{ product.sku }}
    <br>
    <span *ngFor="let name of product.department; let i=index">
      <a href="#">{{ name }}</a>
      <span>
        {{i < (product.department.length-1) ? '>' : ''}}
      </span>
    </span>
    <br><br>
        <button ion-item small icon-left color="danger" class="center" *ngIf="inStore" (click)="add2cart(this.product)">
          <ion-icon name="cart"></ion-icon> Add to Cart
        </button>
  </ion-card-content>
</ion-card>