.product-image {
    width: 100px;
    height: 100px;
}
/*
.colored {
    border: 1px solid lightslategrey;
}
.large-font {
    width: 500px;
    height: 500px;
}
.wowlook {
    border: 5px solid red;
}*/